.headerview-style {
    background: linear-gradient(90deg, #A21514 53.58%, #C92F2E 100%);
}

.header-image-container {
    background: linear-gradient(90deg, #F9F9F9 0%, #DFE0E0 97.97%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.header-button-style .x-btn-inner-default-small {
    font: 400 14px / 16px 'Source Sans 3', sans-serif;
    color: white;
}

.header-button-style .x-btn-icon-el-default-small {
    color: white;
}

.header-button-login-style .x-btn-inner-default-small {
    font: 400 14px / 16px "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: white;
    text-transform: none !important;
}

.header-button-login-style .x-btn-icon-el-default-small {
    color: white;
}

.search-icon {
    cursor: default;
    font-size: 16px;
    color: #A21514;
    background: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-searchfield .x-form-field {
    border-radius: 10px 0 0 10px;
    border: 1px solid #A21514;
    border-right-width: 0;
}

.custom-searchfield .x-form-text-default {
    padding: 2px 0px 2px 10px;
}

.custom-searchfield .x-form-trigger {
    padding-bottom: 2px;
    border: solid transparent;
    border-radius: 0 10px 10px 0;
    border-color: #A21514;
    border-width: 1px;
    border-left-width: 0 !important;
}